<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-trafficmonitor"
	version="1.1.1">
      
    <name>Traffic Monitor</name>
	<description>Cordova plugin to operate and get TrafficStats of Android</description>
	<author>Maneskul</author>
	<license>MIT</license>
	<keywords>traffic,network,trafficstats</keywords>

	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/Traffic.js" name="Traffic">
        <clobbers target="window.Traffic" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Traffic">
                <param name="android-package" value="com.maneskul.cordova.trafficmonitor.TrafficPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
		    <uses-feature android:name="android.hardware.telephony" android:required="false" />
			<uses-permission android:name="android.permission.INTERNET"/>
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          </config-file>
          
		<source-file src="src/android/TrafficPlugin.java" target-dir="src/com/maneskul/trafficmonitor"/>
    </platform>

</plugin>
